@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.secetion-one {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  height: 82%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 26rem;
}

.header-logo {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.header-links {
  display: flex;
  list-style: none;
  font-size: 18px;
  color: antiquewhite;
  gap: 6rem;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1.5rem;
}

.content-left {
  width: 28rem;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: white;
}

.subtext {
  font-size: 18px;
  color: antiquewhite;
  margin-top: 0.2rem;
}

.btn-1 {
  color: white;
  background-color: #3882F6;
  font-size: 18px;
  width: 115px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.content-img {
  width: 500px;
  height: 250px;
}

.section-two {
  display: flex;
  flex-direction: column;
  height: 78%;
  background-color: white;
  align-items: center;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  margin: 3rem;
}

.placeholder-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.info-1 {
  border: 3.5px solid rgb(0, 102, 255);
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}

.placeholder-subtext {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.3rem;
}

.subtext-2 {
  font-size: 18px;
  color: gray;
  text-align: center;
  width: 11rem;
  margin-top: 0.5rem;
}

.section-three {
  background-color: #E5E7EB;
  height: 68%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  width: 51rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1F2937;
}

.quote-author {
  align-self: flex-end;
  font-size: 24px;
  font-weight: bolder;
  color: #1F2937;
}

.section-four {
  background-color: white;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  width: 62rem;
  height: 10rem;
  background-color: #3882F6;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.action-header {
  font-size: 24px;
  color: white;
}

.action-text {
  font-size: 18px;
  color: white;
}

.btn-2 {
  color: white;
  background-color: #3882F6;
  font-size: 18px;
  width: 115px;
  height: 35px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  display: flex;
  background-color: #1F2937;
  height: 16%;
  justify-content: center;
  align-items: center;
}

footer {
  font-size: 18px;
  color: white;
}